page-tuttwo {

    .bg-style {
        background-image: url('../../assets/imgs/bgs.jpg') !important;
    }
    
          p {
            font-weight: 900;
            font-size: 14px;
            line-height: 1;
            color: #000000;
            background: #FFFFFF;
        
            
          }
}
