page-map {
    .content{
        background-image: url('../../assets/imgs/background.jpg') !important;
        background-size: 100% 85%;
        background-repeat: no-repeat;
        margin-top: 12%;
        background-position: fixed;
        
       
        
    }

  

     .goal{
         margin-left: 0%;
         margin-top: 108%;
     }


     .s1{
        margin-left: 65%;
        margin-top: 69%;

     }

     .vis{
         margin-left: 59%;
         margin-top: -10%;
     }

     .s3{
         margin-left: 37%;
         margin-top: 55%;

     }

     .s2{
         margin-top:15%;
         margin-left: 44%;
     }

     .visi{
         
         margin-left: 0%;
         
     }
}
